<mat-card class="userCard">

  <mat-card-header>
    <div mat-card-avatar>
      <img mat-card-avatar 
           src="{{userDetail.avatar_url}}" 
           alt="Profile picture">
    </div>
    <mat-card-title>
      {{userDetail.login}}
    </mat-card-title>
    <mat-card-subtitle>
      <span style="font-weight: 900">
        Profile URL :
      </span>
      <a href="{{userDetail.html_url}}" target="_blank">
        {{userDetail.url}}
      </a>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div style="display: flex;justify-content: flex-end">
        <button mat-stroked-button 
        (click)="getUserRepo(userDetail.login)" 
        *ngIf="!showRepoFlag">
         View Detils
        </button>
        <button mat-stroked-button
        (click)="showRepoFlag=(!showRepoFlag)" 
        *ngIf="showRepoFlag"> 
        Hide Detils
        </button>
    </div>
 
    <mat-card *ngIf="showRepoFlag">

        <div *ngIf="isloading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
         </div>

        <div *ngIf="showError">
            <mat-card style="border: 1px solid red">
                  <span style="color: rgb(231, 20, 20) ;margin: 10px;">
                     <mat-icon>error</mat-icon>
                  </span>
                  <span style="color: red">{{errorMessage}}</span>
            </mat-card> 
         </div>

      <mat-list>
        <h3 mat-subheader>Repositories</h3>
        <mat-list-item *ngFor="let repo of userRepo">
          <mat-icon *ngIf="!repo.private" mat-list-icon>folder_shared</mat-icon>
          <mat-icon *ngIf="repo.private" mat-list-icon>folder</mat-icon>
          <h4 mat-line>{{repo.name}}</h4>
          <p mat-line>last updated : {{repo.updated_at | date}} </p>
          <div style="display: flex;flex-direction: row">
            <div *ngIf="repo.language" style="padding: 3px">
              Language: {{repo.language}}
            </div>
            <div *ngIf="!repo.language" style="padding: 3px">
              Language : N.A
            </div>
            <div style="padding: 3px">
              Open Issue : {{repo.open_issues_count}}
            </div>
            <div style="padding: 3px">
                Followers: {{repo.watchers}}
              </div>
            <div style="padding: 3px">
              star: {{repo.stargazers_count}}
            </div>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-card-content>
  
</mat-card>